{% extends "layout.html" %}
{% block content %}

	<link rel="stylesheet" href="../static/css/forgotpassword.css">
	<div class="form">
	<form name="forgotpswdform" method = "POST" action="/updatePassword" onsubmit="return validateForm()">
		{% if msg %}
	    <div class="alert alert-danger" role="alert">
	      {{msg}}
	    </div>
	    {% endif%}
		<div class="form-group" id="userdiv">
		  <label id="userlabel">Username:</label>
		  <input type="text" class="form-control" id="usr" name="email" placeholder="username@uwaterloo.ca" required>
		</div>
		<div class="form-group" id="newpswddiv">
		  <label for="newpswd" id="newpswdlabel">New Password:</label>
		  <input id="newpswd" name="newpswd" type="password" class="form-control" required>
		</div>
		
		<div class="form-group" id="message">
		  <b>Password must contain the following:</b>
		  <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
		  <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
		  <p id="number" class="invalid">A <b>number</b></p>
		  <p id="length" class="invalid">Minimum <b>8 characters</b></p>
		</div>
		
		 <div class="form-group" id="confirmpswddiv">
		  <label for="pwd" id="confirmpswdlabel">Confirm Password:</label>
		  <input id="confirmpswd" name="confirmpswd" type="password" class="form-control" onkeyup="confirmvalidation()" required>
			<p id="cmsg">Passwords should match</p>
		</div>
		<button id="save" type="submit" class="btn btn-primary">Save</button>
		<button type="reset" id="resetbtn" class="btn btn-primary" onclick="resetfun()">Reset</button>
	</form>
	</div>
	<script src = "../static/js/forgotpassword.js" ></script>
	
	{% endblock content %}
