{% extends "layout.html" %}
{% block content %}
	
	<link rel="stylesheet" href="../static/css/login.css">
	<div class="form">
	<form name = "login" method = "POST" action="/login">
	<h1 id="title">Login</h1>	
    
     {% if msg %}
    <div class="alert alert-danger" role="alert">
      {{msg}}
    </div>
    {% endif%}
     {% if msg1 %}
    <div class="alert alert-primary" role="alert">
      {{msg1}}
    </div>
    {% endif%}
    <div class="form-group" id="userdiv">
      <label for="usr" id="userlabel">Username:</label>
      <input type="text" class="form-control" id="usr" name="email" placeholder="username@uwaterloo.ca" required>
    </div>
    <div class="form-group" id="pswddiv">
      <label for="pwd" id="pswdlabel">Password:</label>
      <input type="password" class="form-control" id="pswd" name="password" required>
    </div>
    <button type="submit" id="loginbtn" class="btn btn-primary">Login</button>
	
	<a href="/forgotPassword" id="fpbtn" class="btn btn-link" role="button">Forgot Password?</a>
		
  </form>
	</div>
{% endblock content %}
