#message {
  display:none;
  color: #000;
  position: relative;
  padding: 10px 70px 10px 70px;
  font-family: Helvetica;
  font-size: 14px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

form{
	height: 100%;
	width: 120%;
	background-color: #fdd54f;
	border: 2px solid #8fc4b7;
	border-radius: 15px;
	border-color: #000000;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 25%;
	margin-bottom: 50%;
    text-align: left;
}
div.form
{
    display: block;
    text-align: center;
}
#cmsg{
	display: none;
	padding: 0px 5px;
	color: red;
}

#userdiv{
	padding: 20px 20px 0px 20px;
}
#userlabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#usr{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#usr:hover{
	box-shadow: none;
}

#newpswddiv{
	padding: 0px 20px;
}
#newpswdlabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#newpswd{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#newpswd:hover{
	box-shadow: none;
}

#confirmpswddiv{
	padding: 0px 20px;
}
#confirmpswdlabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#confirmpswd{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#confirmpswd:hover{
	box-shadow: none;
}

#save{
	margin: 10px 0px 10px 20px;
	background-color: #000000;
	color: #fdd54f;
}
#resetbtn{
	margin: 10px 10px 10px 20px;
	background-color: #000000;
	color: #fdd54f;
}
