#message {
  display:none;
  color: #000;
  position: relative;
  padding: 10px 70px 10px 70px;
  font-family: Helvetica;
  font-size: 14px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

form{
	height: 100%;
	width: 120%;
	background-color: #fdd54f; 
	border: 2px solid #8fc4b7;
	border-radius: 15px;
	border-color: #000000;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 15%;
	margin-bottom: 15%;
    text-align: left;
}
div.form{
    display: block;
    text-align: center;
}

#cmsg{
	display: none;
	padding: 0px 5px;
	color: red;
}

#title{
	padding: 10px 20px 0px;
}

#fnamediv{
	padding: 0px 20px;
}
#fnamelabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#firstname{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#firstname:hover{
	box-shadow: none;
}

#lnamediv{
	padding: 0px 20px;
}
#lnamelabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#lastname{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#lastname:hover{
	box-shadow: none;
}

#emaildiv{
	padding: 0px 20px;
}
#emaillabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#email{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#email:hover{
	box-shadow: none;
}

#pswddiv{
	padding: 0px 20px;
}
#pswdlabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#pswd{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#pswd:hover{
	box-shadow: none;
}

#confirmpswddiv{
	padding: 0px 20px;
}
#confirmpswdlabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}
#confirmpswd{
    border: 2px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    background-color: white;
	box-shadow: 3px 3px;
}
#confirmpswd:hover{
	box-shadow: none;
}

#genderdiv{
	padding:10px 20px 0px 20px;
}
#genderlabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}

#categorydiv{
	padding:0px 20px;
}
#categorylabel{
	font-family:Helvetica;
	font-size: 15px;
	font-weight: bold;
}

#submitbtn{
	margin: 0px 10px 0px 20px;
	background-color: #000000;
	color: #fdd54f;
}
#resetbtn{
	background-color: #000000;
	color: #fdd54f;
}
#loginlink{
	padding: 10px 20px 20px;
	color: #003366;
	text-decoration: underline;
}

input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #ffffff;
        content: '';
        display: inline-block;
        visibility: visible;
}

input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #000000;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
}
