
/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
  margin: 0px; 
  padding: 0px; 
  box-sizing: border-box;
}


/* ------------------------------------ */
/* ------------------------------------ */


/* ------------------------------------ */
/*input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}
*/
/*textarea:focus, input:focus {
  border-color: transparent !important;
}
*/
/* ------------------------------------ */


/*//////////////////////////////////////////////////////////////////
[ Scroll bar ]*/
.js-pscroll {
  position: relative;
  overflow: hidden;
}

.table100 .ps__rail-y {
  width: 9px;
  background-color: transparent;
  opacity: 1 !important;
  right: 5px;
}

.table100 .ps__rail-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ebebeb;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}

.table100 .ps__rail-y .ps__thumb-y {
  width: 100%;
  right: 0;
  background-color: transparent;
  opacity: 1 !important;
}

.table100 .ps__rail-y .ps__thumb-y::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #cccccc;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);
  left: 0;
  top: 15px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 650px;
  margin: auto;
}

.container-table100 {
  width: 100%;
  /*min-height: 1vh;*/
  background: #fdd54f ;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 13px 0px;
}

.wrap-table100 {
  width: 600px;
  height: 270px;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/
.table100 {
  background-color: #fff;
}

table {
  width: 100%;
  font-family: georgia,"droid serif","Times New Roman",Times,serif;

}

th, td {
  font-weight: unset;
  padding-right: 10px;
}
/**/
td {
  /*max-width: 100px;*/
 overflow: hidden;
 /*text-overflow: ellipsis;*/
 /*white-space: nowrap;*/



 /*display: -webkit-box;*/
  /*-webkit-line-clamp: 3;*/
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

tr:nth-child(odd) {
            background-color: #ffff99;
        }

.column1 {
  width: 10%;
  padding-left: 20px;
}

.column2 {
  width: 35%;
  table-layout: fixed;
}

.column3 {
  width: 35%;
}

.column4 {
  width: 10%;
}

.column5 {
  width: 10%;
}

.column11 {
  width: 10%;
  padding-left: 20px;
}
.column12 {
  width: 70%;
}

.column13 {
  width: 10%;
}
.column14 {
  width: 10%;
}
.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.table100-body {
  max-height: 200px;
  overflow: auto;
}


/*==================================================================
[ Ver1 ]*/

.table_link {
  max-height: 500px;
}

.table100.ver1 th {
  font-family: georgia,"droid serif","Times New Roman",Times,serif;
  font-weight: bold;
  font-size: 15px;
  color: #fdd54f;
  line-height: 1.4;
  text-align: left;
  background-color: #000;
}

.table100.ver1 td {
  font-size: 15px;  
  font-family: georgia,"droid serif","Times New Roman",Times,serif;
  /*line-height: 0.2;*/
  font-color: #000;
}

.table100.ver1 .table100-body tr:nth-child(even) {
  background-color: #f8f6ff;
}

/*---------------------------------------------*/

.table100.ver1 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
  right: 5px;
}

.table100.ver1 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}

